In [521]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [522]:
driver = webdriver.Chrome('/Users/mac/Downloads/chromedriver-mac-x64/chromedriver')

In [475]:
#Open webpage
driver.get("https://www.shine.com/")

In [268]:
#Enter Designation by ID
designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Analyst')

In [269]:
#Enter loctaion by Xpath
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [272]:
#Click the search button
search= driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [285]:
#Scrape Job titles
Job_Title=[]
job_titles = driver.find_elements_by_xpath('//h2[@itemprop="name"]')

for i in range(10):
    title=job_title[i]
    Job_Title.append(title)
    
    
print(len(Job_Title))

10

In [282]:
#Scrape 10 Company names
name= driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
Company_name=[]
for i in range(10):
    cname= name[i].text
    Company_name.append(cname)
    
    
print(len(Company_name))

10

In [281]:
# Scrape 10 company location
loc = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
Location=[]
for i in range(10):
    cloc= loc[i].text
    Location.append(cloc)
    
    
print(len(Location))

10

In [280]:
#Scrpae experience 
exp= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
Experience=[]
for i in range(10):
    cexp=exp[i].text
    Experience.append(cexp)
    
print(len(Experience))

10

In [288]:
#Create data frame and print
df= pd.DataFrame({'Title':Job_Title, 'Location': Location, 'Company_Name': Company_name, 'Experience_Required': Experience })
df

,Title,Location,Company_Name,Experience_Required
0,Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Vacancy For Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Clinical Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,"Data Entry Executive, Non voice process, data ...",Bangalore\n+6,techno endura,0 to 1 Yr
4,Clinical Data Analyst,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Engineer Ii,Bangalore\n+18,future solution centre,15 to >25 Yrs
6,Junior Clinical Data Management,Bangalore\n+9,pick bright hr solution,1 to 2 Yrs
7,Data Scientist,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Hiring for Business Analyst,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,Hiring for Business Analyst,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs

In [308]:
#Enter Designation by ID
designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')

In [310]:
#Enter loctaion by Xpath
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [311]:
#Click the search button
search= driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [328]:
#Scrape Job Titles
jobTitles=[]
titles= driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in range(10):
    tit= titles[i].text
    jobTitles.append(tit)
    
print(len(jobTitles))

10

In [329]:
#Scrape Location

location=[]
Jobloc=  driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in range(10):
    loc= Jobloc[i].text
    location.append(loc)
    
    
print(len(location))

10

In [332]:
#Scrape Company names

CompanyName=[]
cname= driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in range(10):
    Compnay_name= cname[i].text
    CompanyName.append(Compnay_name)

print(len(CompanyName))

10

In [333]:
#Create data frame and print
df= pd.DataFrame({'Title':jobTitles, 'Location': location, 'Company_Name': CompanyName,})
df

,Title,Location,Company_Name
0,Data Scientist,Bangalore\n+8,techno endura
1,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...
2,Data Scientist Urgent Vacancy,Bangalore\n+15,renuka interprises
3,Data Scientist Recruitment,Bangalore\n+15,renuka interprises
4,Data Scientist Recruitment,Bangalore\n+15,renuka interprises
5,Data Scientist,Bangalore\n+4,acme services private limited
6,Data Scientist,Bangalore,ltimindtree limited
7,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal
8,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution
9,Senior Data Scientist,Bangalore\n+1,neostats

In [444]:
#open website
driver.get("https://www.flipkart.com/")

In [445]:
#Seach for sunglasses
product= driver.find_element(By.XPATH,'//div[@class="_2SmNnR"]/input')
product.send_keys('sunglasses')
product.submit()

In [409]:
#Get first fourty brand of sunglasses
Brand=[]
FirstfourtyBrand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in FirstfourtyBrand:
    bsunglasses= i.text
    Brand.append(bsunglasses)
    
print(len(Brand))

40

In [410]:
#Get further fourty brand
SecondFourtyBrand= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in SecondFourtyBrand:
    b2sunglasses= i.text
    Brand.append(b2sunglasses)
    
print(len(Brand))

80

In [411]:
#Get further 20 brands
lastTwenty= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in range(20):
    last20= lastTwenty[i].text
    Brand.append(last20)
    
    
print(len(Brand))

100

In [421]:
#Get 37 Brand description
BrandDes=[]
description= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in range(37):
    des= description[i].text
    BrandDes.append(des)
    
    
print(len(BrandDes))

37

In [422]:
#get 3 more brand desc
description= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in range(3):
    des= description[i].text
    BrandDes.append(des)
    


    
print(len(BrandDes))

40

In [423]:
#get 38 more brand des
description= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in range(38):
    des= description[i].text
    BrandDes.append(des)
    
    
print(len(BrandDes))

78

In [434]:
#  get 2 more brand des
description= driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in range(2):
    des= description[i].text
    BrandDes.append(des)
    
    
print(len(BrandDes))

80

In [435]:
# get 20 more brand des
description= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in range(20):
    des= description[i].text
    BrandDes.append(des)
    
    
print(len(BrandDes))

100

In [449]:
# get first page prices
Price1=[]
price = driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')

for i in range(40):
    pr= price[i].text
    Price1.append(pr)
    
print(len(Price1))

40

In [450]:
# get 2nd page price
price = driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')

for i in range(39):
    pr= price[i].text
    Price1.append(pr)
    
print(len(Price1))

79

In [451]:
# get 3rd page prices
price = driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')

for i in range(21):
    pr= price[i].text
    Price1.append(pr)
    
print(len(Price1))

100

In [452]:
#create data frame 
df=pd.DataFrame({'Brand': Brand, 'Description': BrandDes, 'Price': Price1})
df

             Brand                                        Description   Price
0          ROADWAY  UV Protection, Riding Glasses, Others Aviator,...  ₹1,499
1         Fastrack           UV Protection Over-sized Sunglasses (65)  ₹1,999
2          ROADWAY         UV Protection Retro Square Sunglasses (54)  ₹1,299
3             SRPM  UV Protection Retro Square Sunglasses (Free Size)  ₹1,099
4           DEYVUE     UV Protection, Mirrored Sports Sunglasses (62)  ₹1,299
..             ...                                                ...     ...
95  ROZZETTA CRAFT                UV Protection Round Sunglasses (50)  ₹2,999
96       Elligator                UV Protection Round Sunglasses (44)  ₹1,999
97       Rich Club             Others Wayfarer Sunglasses (Free Size)  ₹1,599
98  Mast & Harbour  UV Protection Retro Square Sunglasses (Free Size)  ₹1,999
99      iCopertina                  Polarized Aviator Sunglasses (58)  ₹1,525

[100 rows x 3 columns]

In [458]:
ReviewsStars=[]
FirstPage= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in range(8):
    Rev= FirstPage[i].text
    ReviewsStars.append(Rev)

    
print(len(Reviews))

8

In [460]:
SecondPage= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in range(8):
    Rev= SecondPage[i].text
    ReviewsStars.append(Rev)
    
    
print(len(ReviewsStars))

24

In [468]:
comments=[]
FirtsPageRev= driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in range(9):
    com= FirtsPageRev[i].text
    comments.append(com)
    
print(len(comments))

9

In [469]:
SeconPageRev= driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in range(9):
    com= FirtsPageRev[i].text
    comments.append(com)
    
print(len(comments))

18

In [470]:
ThirdPageRev= driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in range(6):
    com= FirtsPageRev[i].text
    comments.append(com)
    
print(len(comments))

24

In [471]:
df= pd.DataFrame({'Rate out of 5':ReviewsStars, 'Comments': comments })
df

   Rate out of 5              Comments
0              5     Worth every penny
1              5   Best in the market!
2              5             Wonderful
3              5             Wonderful
4              4       Value-for-money
5              4      Terrible product
6              5  Utterly Disappointed
7              5             Wonderful
8              5      Perfect product!
9              5     Worth every penny
10             5   Best in the market!
11             5             Wonderful
12             4             Wonderful
13             4       Value-for-money
14             5      Terrible product
15             5  Utterly Disappointed
16             5             Wonderful
17             5      Perfect product!
18             5     Worth every penny
19             5   Best in the market!
20             4             Wonderful
21             4             Wonderful
22             5       Value-for-money
23             5      Terrible product

In [478]:
#open website
driver.get("https://www.flipkart.com/")

In [479]:
#Seach for sneakers
product= driver.find_element(By.XPATH,'//div[@class="_2SmNnR"]/input')
product.send_keys('sneakers')
product.submit()

In [480]:
SneakerBrands=[]
FirstPage= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in range(40):
    SBrand= FirstPage[i].text
    SneakerBrands.append(SBrand)


print(len(SneakerBrands))

40

In [482]:
SecondPage= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in range(40):
    SBrand= SecondPage[i].text
    SneakerBrands.append(SBrand)
    
    
print(len(SneakerBrands))

80

In [483]:
ThirdPage= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in range(20):
    SBrand= ThirdPage[i].text
    SneakerBrands.append(SBrand)
    
    
print(len(SneakerBrands))

100

In [488]:
ProductDes=[]
FirstPageDes= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in range(34):
    Pdes= FirstPageDes[i].text
    ProductDes.append(Pdes)


FirstPageremDes= driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in range(6):
    Pdes= FirstPageremDes[i].text
    ProductDes.append(Pdes)
    

print(len(ProductDes))

40

In [489]:
SecondPageDes= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in range(34):
    Pdes= SecondPageDes[i].text
    ProductDes.append(Pdes)


SecondPageremDes= driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in range(6):
    Pdes= SecondPageremDes[i].text
    ProductDes.append(Pdes)

print(len(ProductDes))

80

In [491]:
ThirdPageDes= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in range(20):
    Pdes= ThirdPageDes[i].text
    ProductDes.append(Pdes)




print(len(ProductDes))

100

In [492]:

Prices=[]
FirstPagePrices= driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
for i in range(40):
    FPrices= FirstPagePrices[i].text
    Prices.append(FPrices)
    
print(len(Prices))

40

In [493]:

SecondPagePrices= driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
for i in range(40):
    SPrices= SecondPagePrices[i].text
    Prices.append(SPrices)
    
print(len(Prices))

80

In [494]:
ThirdPagePrices= driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
for i in range(20):
    SPrices= ThirdPagePrices[i].text
    Prices.append(SPrices)
    
print(len(Prices))

100

In [496]:
df=pd.DataFrame({'Brand':SneakerBrands,'Description':ProductDes, 'Prices':Prices})
df

        Brand                                        Description  Prices
0    URBANBOX  Trending Stylish Casual Outdoor Shoes For Men ...    ₹999
1      BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹2,499
2   Deals4you  Casual Sneaker Shoes for Women | Soft Cushione...    ₹999
3    URBANBOX                     Shuffle Ultra Sneakers For Men    ₹999
4    RED TAPE  Casual Sneaker Shoes for Men | Soft Cushioned ...  ₹5,699
..        ...                                                ...     ...
95    MOZAFIA  Comfortable Canvas Lace-up Casual Ankle Length...  ₹6,499
96     Aeonik  Newton-01 Men's Lightweight Running Shoes Snea...  ₹3,295
97       ATOM  Women's Mesh Sports Shoes Walking Sneakers For...    ₹999
98      asian                                   Sneakers For Men  ₹1,098
99     CAMPUS                           VIBGYOR Sneakers For Men  ₹1,299

[100 rows x 3 columns]

In [513]:

driver.get("https://www.amazon.in/")

In [509]:

Title=[]
FirstPageTitle= driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for i in range(10):
    title= FirstPageTitle[i].text
    Title.append(title)
    
print(len(Title))

10

In [516]:
#//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]

Reviews=[]
FirstPageReviews= driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')

for i in range(10):
    Rev= FirstPageReviews[i].text
    Reviews.append(Rev)
    
print(len(Reviews))

10

In [518]:

Prices=[]
FirstPagePrices= driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')


for i in range(10):
    Pr= FirstPagePrices[i].text
    Prices.append(Pr)
    
print(len(Prices))

10

In [520]:
df= pd.DataFrame({'Title': Title, 'Rating': Reviews, 'Prices': Prices})
df

                                               Title Rating     Prices
0  Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...            37,990
1  Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.6...            59,494
2  Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...            49,990
3  Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.6...            37,990
4  Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...            19,990
5  ASUS TUF Gaming F15, Intel Core i5-11400H 11th...         1,19,990.
6  Lenovo IdeaPad Gaming 3 AMD Ryzen 5 5500H 15.6...            37,490
7  ASUS Vivobook 16X (2022), 16.0-inch (40.64 cms...            52,990
8  Lenovo IdeaPad Slim 5 Ryzen 5 7530U 14" (35.5c...            32,990
9  ASUS Vivobook 14, IntelCore i3-1215U 12th Gen,...            34,750

In [523]:
driver.get("https://www.azquotes.com/")

In [525]:
#//a[@class="title"]
Quotes=[]

Quote= driver.find_elements(By.XPATH,'//a[@class="title"]')

for i in range(100):
    q= Quote[i].text
    Quotes.append(q)

print(len(Quote))

100

In [526]:
Authors=[]

Author= driver.find_elements(By.XPATH,'//div[@class="author"]')

for i in range(100):
    a= Author[i].text
    Authors.append(q)
    
    
print(len(Authors))

100

In [527]:

Types=[]
Tags= driver.find_elements(By.XPATH,'//div[@class="tags"]')

for i in range(100):
    t= Tags[i].text
    Types.append(t)
    
    
print(len(Types))

100

In [528]:
df= pd.DataFrame({'Quotes':Quotes, 'Authors': Authors, 'Types': Types })
df

,Quotes,Authors,Types
0,The essence of strategy is choosing what not t...,Change your thoughts and you change your world.,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Change your thoughts and you change your world.,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Change your thoughts and you change your world.,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Change your thoughts and you change your world.,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Change your thoughts and you change your world.,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Change your thoughts and you change your world.,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Change your thoughts and you change your world.,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Change your thoughts and you change your world.,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Change your thoughts and you change your world.,"Success, God, Mother"
99,Change your thoughts and you change your world.,Change your thoughts and you change your world.,"Inspirational, Motivational, Change"